<div class=" bg-light ml-5 w-50 border-rounded">
    <h4 class="bg-info">About us</h4>
    <p class="m-2 "><a href="https://w.ww.linkedin.com/in/jangalalaxman/">LinkedIn</a></p>
    <p class="m-2 "><a href="https://www.instagram.com/jangalasaisrilaxman/">Instagram</a></p>
    <p class="m-2 "><a href="https://twitter.com/SriJangala">Twitter</a></p>
    <p class="m-2 "><a href="https://github.com/jangala-laxman?tab=repositories">Github </a></p>
    <p class="m-2 "><a href="srilaxman48@gmail.com">Google</a></p>

</div>