<h2 class="ml-5 mt-5">Reset password Here</h2>

<form action="/user/reset" method="POST">
    <div class="form-group">
        <label for="formGroupExampleInput" class="mt-4 ml-5">Email</label>
        <input type="email" name="email" class="form-control ml-5 w-25" id="formGroupExampleInput">
      </div>

      <button class="border bg-primary ml-5 mt-3 mb-4  rounded">submit</button>
</form>
